html {
    scroll-behavior: smooth;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body {
    background: url("images/background.png");
    background-position: center;
    background-color: black;
    font-family: 'Montserrat', sans-serif;
}
.navbar {
    background-color: rgba(0,0,0,0.8);
    color: white;
}
.buttons{
    float: left;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5vw;
    transition: 0.3s;
}
.buttonssecond {
    float: left;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    color: white;
    font-size: 1.5vw;
    transition: 0.3s;
    font-family: 'Azeret Mono', monospace;
}
#logo {
    max-height: 100px;
    max-width: 100px;
    width: 100px;
    height: 100px;
    padding: 0px;
}
#flipped {
    float: right;
}
#header {
    color: white;
    padding-left: 30px;
    font-size: 3vw;
}
.header {
    background: url("images/header.png");
    background-size: 100%;
    background-position: 14vw 0vw;
    background-repeat: repeat-x no-repeat;
    background-color: black;
    padding-top: 4.5vw;
    padding-bottom: 4.5vw;
    margin-top: 50px;
    border-radius: 10px;
}
#subheader {
    color: white;
    padding-left: 30px;
    font-size: 1.2vw;
}
mark {
    background-color: rgb(252, 103, 103);
    border-radius: 5px;
}
.mark2 {
    text-decoration: underline rgb(252, 103, 103);
}
h2 {
    color: white;
    text-align: center;
    font-size: 3vw;
    border-color: white;
    border-width: 2px 0px 0px 0px;
    border-style: solid;
    padding-top: 30px;
}
.readmore {
    text-align: center;
    color: white;
    width: 50%;
    margin: auto;
}
h3 {
    color: white;
    text-align: center;
    font-size: 2vw;
}
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-top: 100px;
    font-size: 15px;
}
.email {
    padding: 20px;
    text-align: center;
    margin-top: 10px;
}
a:visited, a:link, a:active {
    text-decoration: none;
}
a:hover {
    color: rgb(252, 103, 103);
    opacity: 1;
}
input[type=text]{
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 20px;
}
input[type=submit] {
    background-color: rgb(252, 103, 103);
    color: white;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
}
input[type=submit]:hover {
    background-color: #ffa2a2;
    opacity: 1;
}
/* 
<a class="buttons" href="../index.html">Home</a>
<a class="buttons" href="why.html">Why</a>
<a class="buttons" href="games.html">Games</a>
<a class="buttons" href="players.html">Players</a>
<a class="buttons" href="contact.html" style="padding-right:60px;">Contact</a>
*/